In [ ]:
def checker(n):
  x=1
  y=2
  z=3
  print(x,y,z)
  #this function performs a constant number pf operations

In [ ]:
checker(5)

1 2 3

In [ ]:
checker(10000)

1 2 3

In [ ]:
def checker(n):
  for i in range(n):
    print(i)

 #no. of operations changes with the input
 #the no. of operations that my function performs linearly depends on the input
 #cost function of this is linear

In [ ]:
checker(5)

0
1
2
3
4

In [ ]:
checker(1000)

In [ ]:
def checker(n):
  for i in range(n):
    for j in range (n):
      print(i,j)

 #no. of operations changes with the input
 #cost is quadratic

In [ ]:
def checker(n):

  for i in range (n):
    print(i)

  for i in range(n):
    for j in range (n):
      print(i,j)

  for i in range(n):
    for j in range (n):
      for k in range (n):
        print(i,j)

In [ ]:
random = {}
random[1.1] = "JavaScript"
random[1.0] = "Python"
random[1] = "C++"
random[True] = "JAVA"
random[1+0j] = "TypeScript"
random[1+2j] = "TypeScript2"

print(f"{random[1.1]} and {random[1]}")

JavaScript and TypeScript

In [ ]:
[ i+j+k for k in ["I"] for j in ["am"] for i in ["weird"] ]

['weirdamI']

In [ ]:
#sorting algorithm


x=[5,1,2,4,7,3]

In [ ]:
print(x.sort())

None

In [ ]:
x

[1, 2, 3, 4, 5, 7]

In [ ]:


def sorter(x):
  x2=x.copy()
#bubble sort
  for j in range (len(x)-1):
    print(x)
    for i in range (len(x)-1-j):
      if x[i]>x[i+1]:
        x[i], x[i+1]= x[i+1],x[i]

      print("\t",x)
      print("-"*50)

  return x,x2

In [ ]:
a=[10,9,8,3,1,2,3]
sorted_a,original_a=sorter(a)

[10, 9, 8, 3, 1, 2, 3]
	 [9, 10, 8, 3, 1, 2, 3]
--------------------------------------------------
	 [9, 8, 10, 3, 1, 2, 3]
--------------------------------------------------
	 [9, 8, 3, 10, 1, 2, 3]
--------------------------------------------------
	 [9, 8, 3, 1, 10, 2, 3]
--------------------------------------------------
	 [9, 8, 3, 1, 2, 10, 3]
--------------------------------------------------
	 [9, 8, 3, 1, 2, 3, 10]
--------------------------------------------------
[9, 8, 3, 1, 2, 3, 10]
	 [8, 9, 3, 1, 2, 3, 10]
--------------------------------------------------
	 [8, 3, 9, 1, 2, 3, 10]
--------------------------------------------------
	 [8, 3, 1, 9, 2, 3, 10]
--------------------------------------------------
	 [8, 3, 1, 2, 9, 3, 10]
--------------------------------------------------
	 [8, 3, 1, 2, 3, 9, 10]
--------------------------------------------------
[8, 3, 1, 2, 3, 9, 10]
	 [3, 8, 1, 2, 3, 9, 10]
--------------------------------------------------
	 [3, 1, 8, 2, 3, 9, 10]
--------------------------------------------------
	 [3, 1, 2, 8, 3, 9, 10]
--------------------------------------------------
	 [3, 1, 2, 3, 8, 9, 10]
--------------------------------------------------
[3, 1, 2, 3, 8, 9, 10]
	 [1, 3, 2, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------

In [ ]:
sorted_a

[1, 2, 3, 3, 8, 9, 10]

In [ ]:
original_a

[10, 9, 8, 3, 1, 2, 3]

In [ ]:
x=[1, 2, 3, 3, 8, 9, 10]
sorter(x)

[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------
[1, 2, 3, 3, 8, 9, 10]
	 [1, 2, 3, 3, 8, 9, 10]
--------------------------------------------------

([1, 2, 3, 3, 8, 9, 10], [1, 2, 3, 3, 8, 9, 10])

In [ ]:
#how to optimize it further- additional learning